// @import "src/constants/variables.scss"; --> problemi

.Container {
  width: 100vw;
  height: calc(100vh - 75px);
  display: flex;

  .columnSx {
    // border: 2px solid red;
    width: 500px;
    height: calc(100vh - 75px);
    padding: 20px;
    @media all and (max-width: 800px) {
      & {
        width: 150px;
      }
    }
  }

  .columnDx {
    width: calc(100vw - 510px);
    height: calc(100vh - 75px);
    padding: 20px 5px;
    @media all and (max-width: 800px) {
      & {
        width: 100%;
      }
    }
  }
}
